@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --white:#FFFFFF;
  --bright-purple:#a600c7;
  --bright-blue:#30d3df;
}

html,
body {
  max-height:100%;
  max-width:100%;
  overflow-x:hidden;
  overflow-wrap:anywhere;
}

* {
  box-sizing: border-box;
}
