:root {
  --white:#FFFFFF;
  --bright-purple:#a600c7;
  --bright-blue:#30d3df;
}

html,
body,
section {
  max-height:100%;
  max-width:100%;
  overflow-x:hidden;
  overflow-wrap:anywhere;
}

* {
  box-sizing: border-box;
}
