.h1 {
  position: absolute;
  top:30px;
  margin-top:0px;
  font-size:33vw;
  text-align:center;
  line-height:60vh;
  background: repeating-linear-gradient(45deg,var(--bright-purple),var(--bright-purple) 10px,var(--white) 10px,var(--white) 20px), var(--bright-blue);
  background-size:100%;
  background-repeat:repeat-y;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index:100;
}
.h2 {
  position:absolute;
  font-size:20vh;
  line-height:12vh;
  bottom:0px;
  overflow-wrap: break-word;
  opacity:0;
  left:250px;
}
.h6 {
  font-size:10px;
  text-align:center;
  margin:0px 0px 0px 0px;
}
.section{
  width:100%;
}
.prataregular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}
.bebasneue {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
